.usermap {
  width: 100%;
  min-width: 1220px;
	height: 750px;
}
.usermap .echarts-map {
  height: 750px;
  background-repeat: no-repeat;
  background-position: 20% center;
  margin: 0 10px 10px 10px;
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid #ccc;
}
.lines {
  width: 50%;
  margin: 0;
  padding: 0;
  margin: 10px;
  border-radius: 4px;
  padding-bottom: 10px;
}
.selecttime {
  margin: 10px 0;
}
.selecttime > h4 {
	text-align: center;
	font-weight: bold;
}
.selecttime > div {
  margin: 0 20px;
}
.selecttime .btn {
  font-weight: normal;
  color: #757575;
  vertical-align: middle;
  height: 34px;
  margin-top: -6px;
  border-color: #dcdfe6;
}
.line {
  width: 100%;
  height: 400px;
  border-radius: 4px;
}
.appline {
  width: 100%;
  height: 400px;
  border-radius: 4px;
}
.line-all {
  display: flex;
  min-width: 1220px;
  justify-content: space-between;
}
.line-all .lines {
  background-color: #fff;
  margin-top: 20px;
}
.drop-titles {
  margin-top: 10px;
}
.drop-titles > p {
  margin: 0;
  padding: 0;
}
.c-datepicker-single-editor .c-datepicker-data-input {
  text-align: center;
}
.server {
  margin-top: 0;
}
.amap-labels {
  z-index: 0 !important;
}
.c-datepicker-box {
  overflow: hidden;
}

/* 统计的样式 */
.statistical {
	display: flex;
	justify-content: space-between;
	height: 90px;
	margin: 0 10px 20px 10px;
	align-content: center;
	min-width: 1200px;
}
.statistical .item {
	position: relative;
	width: 16%;
	border-radius: 4px;
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-items: center;
	cursor: pointer;
	overflow: hidden;
	background-color: #fff;
}
.statistical .item > .iconfonts{
	padding: 0 20px;
}
.statistical .item > div:nth-child(2){
	/* width: calc(16vw - 100px); */
	width: calc(16vw - 100px);
	min-width: 92px;
}
.statistical p{
	margin: 0;
	margin-top: 10px;
}
.statistical p:nth-child(2){
	margin-top: 5px;
}
.statistical .item:nth-child(1) > .iconfonts {
	background-color: rgb(91,190,56);
}
.statistical .item:nth-child(2) > .iconfonts{
	background-color: rgb(90,181,224);
}
.statistical .item:nth-child(3) > .iconfonts{
	background-color: rgb(64, 85, 154);
}
.statistical .item:nth-child(4) > .iconfonts{
	background-color: rgb(203, 85, 66);
}
.statistical .item:nth-child(5) > .iconfonts{
	background-color: rgb(239, 176, 94);
}
.statistical .item:nth-child(6) > .iconfonts{
	background-color: rgb(112, 104, 181);
}

.statistical .item > div:nth-child(2) {
	text-align: center;
}
.statistical .item > div.iconfonts .iconfont {
	line-height: 90px;
	font-size: 60px;
	color: #fff;
}
.statistical .item > div >p:nth-child(1){
	font-size: 30px;
	font-weight: bold;
}
/* 地图中的loading动画 */
.map-loading {
	position: relative;
	width: 100%;
	height: 750px;
	z-index: 10;
}
.run-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border: 5px solid #409eff;
	border-right-color: transparent;
	border-radius: 50%;
	animation: loader-rotate 1s linear infinite;
}

@keyframes loader-rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}